.carousel-img{

    border-radius: 11% 20% 10% 20% ;
    border-color: black;
    /* border-width: 1px; */
    padding: 7%;
    
 
}

.carousel-item{
    margin: 5%;
 
}
.carousel-container{
    background-color: #FDE9CE;
    background-image: linear-gradient(#c1b8a7, #FDE9CE);

}

.landing-page-bg{
    
}